<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobshep.ITLS2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />
    
    <permission 
        android:protectionLevel="dangerous" 
        android:icon="@drawable/ic_launcher" 
        android:name="com.mobshep.ITLS2.START_ACTIVITY" 
        android:logo="@drawable/ic_launcher">
    </permission>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <activity
            android:name="com.mobshep.ITLS2.InsufficientTLS2"
            android:label="@string/app_name" 
             android:permission="com.mobshep.ITLS2.START_ACTIVITY"
             android:theme="@style/ShepherdTheme">
            <intent-filter>
                <action android:name="com.mobshep.ITLS2.InsufficientTLS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.mobshep.ITLS2.Splash"
            android:label="@string/app_name"
            android:permission="com.mobshep.ITLS2.START_ACTIVITY" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       
        
         <activity
            android:name="com.mobshep.ITLS2.Preferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.mobshep.Preferences" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>