<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobshep.brokencrypto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <permission
        android:name="com.mobshep.BC.START_ACTIVITY"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:protectionLevel="dangerous" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobshep.brokencrypto.BrokenCrypto"
            android:label="@string/app_name"
            android:permission="com.app.mobshep.BC.START_ACTIVITY"
            android:theme="@style/ShepherdTheme" >
            <intent-filter>
                <action android:name="com.mobshep.BrokenCrypto.BrokenCrypto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobshep.brokencrypto.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>