<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mobshep.BC"
    android:versionCode="1"
    android:versionName="1.0" >

    
 
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    <permission android:protectionLevel="dangerous" android:icon="@drawable/ic_launcher" android:name="com.app.mobshep.BC.START_ACTIVITY" android:logo="@drawable/ic_launcher"></permission>
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <activity
            android:theme="@style/ShepherdTheme"
            android:name="com.app.mobshep.BC.BrokenCrypto"
            android:label="@string/app_name" 
             android:permission="com.app.mobshep.BC.START_ACTIVITY">
            <intent-filter>
                <action android:name="com.app.mobshep.BC.BrokenCrypto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.app.mobshep.BC.Splash"
            android:label="@string/app_name"
            android:permission="com.app.mobshep.BC.START_ACTIVITY" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
    </application>

</manifest>