@media screen and (max-width: 990px) {

	#page {
		width: 100%;
	}
	
	#sidebar {
		display: none;
		width: 100%;
	}
	
	#contentDiv {
		width: 85%;
		position: absolute;
		margin-left: 65px;
		margin-right: 10px;
	}
	
	.sidebarWrapper {
		width: 40px;
		background: #D4D4D4;
		border-top: 3px solid #A878EF;
		border-right: 3px solid #A878EF;
		position: absolute;
		height: 100%;
		border-radius: 2px;
		text-decoration: none;
		vertical-align: top;
	}
	
	.sidebarWrapper:hover {
		width: 200px;
		background: #AEACAC;
		border-top: 3px solid #A878EF;
		border-right: 3px solid #A878EF;
		position: absolute;
		height: 100%;
		border-radius: 2px;
		text-decoration: none;
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
	}
	
	.sidebarWrapper:hover  #sidebar{
		display: block;
	}
	
	.sidebarWrapper:hover .menuIcon{
		display: none;
	}
	
	.menuIcon{
		display:block;
	}
	
	.menuIcon:before {
		display: block;
	}
	
	#submitResult {
		margin-left: 65px;
		float: none; 
	}
	
	.resultTable {
		width: 120%
	}
	
	.resultbox{
		width: 100%;
	}
	
}